{
  "presets": [
    ["es2015"],
    ["stage-2"]
  ],
  "plugins": [
    ["component", [{
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }]],
    ["transform-runtime"]
  ]
}
